.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-welcome {
  display: flex;
  flex-direction: column; /* Cambia la dirección de la disposición a vertical */
  align-items: center; /* Alinea los elementos al centro horizontalmente */
  gap: 20px; /* Espacio entre los elementos */
  margin-bottom: 40px; /* Agrega margen inferior */
}

.home-welcome-content {
  width: 100%; /* Ocupa todo el ancho disponible */
  text-align: center; /* Alinea el texto al centro */
}

.home-login {
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 300px; /* Establece un ancho máximo */
}

.home-investments {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}

.home-investments h2 {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .home-welcome {
    flex-direction: row; /* Vuelve a la disposición horizontal */
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Alinea verticalmente al centro */
  }
}

@media screen and (max-width: 768px) {
  .home-welcome-content h1 {
    font-size: 6vw; /* Reduce el tamaño de fuente en pantallas medianas */
  }
}

@media screen and (max-width: 480px) {
  .home-welcome-content h1 {
    font-size: 8vw; /* Reduce aún más el tamaño de fuente en pantallas pequeñas */
  }
}
