.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-welcome {
  display: flex;
  flex-direction: column; /* Cambia la dirección de la disposición a vertical */
  align-items: center; /* Alinea los elementos al centro horizontalmente */
  gap: 20px; /* Espacio entre los elementos */
  margin-bottom: 40px; /* Agrega margen inferior */
}

.home-welcome-content {
  width: 100%; /* Ocupa todo el ancho disponible */
  text-align: center; /* Alinea el texto al centro */
}

.home-login {
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 300px; /* Establece un ancho máximo */
}

.home-investments {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}

.home-investments h2 {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .home-welcome {
    flex-direction: row; /* Vuelve a la disposición horizontal */
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Alinea verticalmente al centro */
  }
}

@media screen and (max-width: 768px) {
  .home-welcome-content h1 {
    font-size: 6vw; /* Reduce el tamaño de fuente en pantallas medianas */
  }
}

@media screen and (max-width: 480px) {
  .home-welcome-content h1 {
    font-size: 8vw; /* Reduce aún más el tamaño de fuente en pantallas pequeñas */
  }
}

.country-list {
  list-style: none;
  padding: 0;
  display: flex; /* Cambiado a flex */
  gap: 10px;
  width: 100%;
  overflow-x: auto; /* Agregado para permitir desplazamiento horizontal si los elementos no caben en el contenedor */
}

.country-item {
  flex: 0 0 auto; /* Agregado para que los elementos no se expandan */
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.country-item:hover {
  background: #f1f1f1;
  transform: scale(1.02);
}

.country-chart img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.home-welcome-content img {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  border-radius: 10px; /* Agrega bordes redondeados a la imagen */
  margin-top: 20px; /* Ajusta el margen superior */
}
