.purchased-actions-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.purchased-action-item {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex; /* Agregamos display flex */
  flex-direction: column; /* Cambiamos la dirección del flex a columna */
}

.purchased-action-item h3 {
  margin: 0 0 1rem 0;
}

.purchased-action-item p {
  margin: 0.5rem 0;
}

.investment-image {
  max-width: 100px;
  max-height: 100px;
  margin: 1rem auto;
}
